.login {
	margin-left: 20%;
	margin-right: 20%;
} 

#loginDiv{
	margin-left: 30%;
	margin-right: 30%;
	
}

#loginButton{
	margin-left: 40%;
}

#regLabel{
	margin-left: 26%;
}

h1{
	margin-left: 34%;
}


